@font-face {
    font-family: 'Moderniz';
    src:url('../font/Moderniz.otf') format('opentype');
    font-style:normal;
}

/* color */
$color-black : #1C1B1F;
$color-graychip1 : #5b6073;
$color-graychip1 : #c2c4bb;
$color-navy : #283f9a;
$color-8egray: #8e8e8e;
$color-BEgray:#bebebe;
$color-red:#FA0A00;
$color-white:#ffffff;
$color-orange:#ff750f;
$color-beige:#f4f6db;
$color-brown:#a62a2a;
$color-gray:#91949b;
$color-purple:#81007f;
$color-green:#008100;
$color-blue:#0200fb;


/* line height */
$lineHeight-150:1.5; 
$lineHeight-100:1;

/* font size */
$fontsize-72px : 4.5rem;
$fontsize-40px : 2.5rem;
$fontsize-36px : 2.25rem;
$fontsize-32px : 2rem;
$fontsize-26px : 1.625rem;
$fontsize-22px : 1.375rem;
$fontsize-20px : 1.25rem;
$fontsize-18px : 1.125rem;
$fontsize-14px : 0.875rem;
$fontsize-12px : 0.75rem;

/* font weight */
$weight-bold : 700;
$weight-semibold : 600;
$weight-medium : 500;
$weight-light : 300;

@mixin colorchip-shape{
    width: 18px;
    height:18px;
    border-radius: 9px;
}

@mixin flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-col-nowrap{
    display: flex;
    flex-flow: column nowrap;
}