@use './common.scss' as *;

#wrap {
    header {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 999;
        background-color: $color-white;
        .notice_line {
            background-color: $color-red;
            padding : 10px 80px;
            text-align: center;
            a{
            font-size:$fontsize-14px;
            color:$color-white;
            }
        }
        .top {
            height: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding : 0 80px;
            #logo {
                width: 90px; height: 50px;
                a {
                    img {width: 100%; height: 100%;}
                }
            }
            #gnb {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 70px;
                height: 100%;
                .gnb-list{
                    line-height: 80px;
                    position: relative;
                    z-index: 1;
                    line-height: 80px;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: $color-red;
                        position: absolute;
                        left: 0;
                        bottom: 20px;
                        display: block;
                        z-index: 900;
                        transform: scaleX(0);
                        transition: transform 0.25s;
                        transform-origin: right;
                    }
                    &:hover{
                        &::after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                    a{
                        font-weight: $weight-medium;
                        padding: calc((80px - 19px) /2) 0;
                    }
                }
            }
            #right_icons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                .search_bar {
                    width: 250px;
                    border-bottom: 1px solid $color-black;
                    display: flex;
                    #search {
                        width: 100%;
                        font-size: $fontsize-14px;
                    }
                }
                a {
                    img {
                        width: 24px; height: 24px;
                    }
                }
            }
        }
    }
}