@use './common.scss' as *;
@use './lnb.scss';

#wrap{
    padding: 116px 0 0 0;
    #main_wrap {
        /* ===배너=== */
        >.swiper{
            overflow: hidden;
            position: relative;
            z-index: 1;
            .swiper-wrapper{
                @include flex-row-nowrap;
                justify-content: flex-start;
                align-items:center;
                .swiper-slide{
                    width: 100vw; height: 680px;
                    position: relative;
                    z-index: 50;
                    display: flex;
                    align-items: center;
                    iframe{
                        width: 100vw;
                        height: 100%;
                    }
                    img {}
                    .bnr_text{
                        @include flex-col-nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        position: absolute;
                        gap: 10px;
                        left: 80px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 999;
                        h1 {
                            color : $color-white;
                            font-size: $fontsize-40px;
                            font-weight: $weight-bold;
                        }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide1{
                    .bnr_text{
                        h1 {
                        color : $color-white;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide2{
                    .bnr_text{
                        h1 {
                        color : $color-white;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide3{
                    .bnr_text{
                        h1 {
                        color : $color-white;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide4{
                    .bnr_text{
                        h1 {
                        color : $color-black;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-black;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide5{
                    .bnr_text{
                        h1 {
                        color : $color-white;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
                .slide6{
                    .bnr_text{
                        h1 {
                        color : $color-white;
                        font-size: $fontsize-40px;
                        font-weight: $weight-bold;
                    }
                        p {
                            color : $color-white;
                            font-size: $fontsize-20px;
                            font-weight: $weight-medium; 
                        }
                    }
                }
            }
            .bnr-nav{
                position: absolute;
                bottom: 30px;
                @include flex-row-nowrap;
                justify-content: center;
                align-items: center;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
                .swiper-pagination-bullet{
                    background-color: $color-white;
                    height: 1.5px;
                    border-radius: 0;
                    margin: 0;
                    opacity: 0.4;
                    scale: 1;
                    width: 100%;
                    transition: opacity 0.3s;
                }
                .swiper-pagination-bullet-active{
                    background-color: $color-white;
                    opacity: 1;
                    width: 100%;
                    transition: opacity 0.3s;
                }
            }
        }
        /* ===BEST=== */
        .best_product {
            margin : 80px 80px;
            @include flex-col-nowrap;
            justify-content: center;
            align-items: flex-start;
            gap : 50px;
            h2 {
                text-transform: uppercase;
                font-size: $fontsize-36px;
                font-weight: $weight-bold;
            }
            .best_contents{
                @include flex-row-nowrap;
                justify-content: center;
                align-items: flex-start;
                gap: 120px;
                .category{
                    @include flex-col-nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    gap:30px;
                    a{
                        .best_cate_name{
                            font-size:$fontsize-18px;
                            text-transform: uppercase;
                            font-weight: $weight-medium;
                            color: $color-8egray
                        }
                        .active{
                            color:$color-red;
                        }
                    }
                }
                
                    .best_list{
                        @include flex-col-nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        overflow:hidden;
                        width:calc((100vw) - 304px);
                        transform-origin: left ;
                        .swiper-wrapper{
                            .swiper-slide{
                                a{
                                    @include flex-col-nowrap;
                                    justify-content: center;
                                    align-items: flex-start;
                                    gap: 20px;
                                    img{
                                        width:380px;
                                        height: 380px;
                                    }
                                    .product_name{
                                        font-size: $fontsize-18px;
                                        font-weight:$weight-medium;
                                    }
                                    .colorchip_set{
                                        @include flex-row-nowrap;
                                        gap: 10px;
                                        .colorchip{
                                            @include colorchip-shape;
                                            display:inline-block;
                                        }
                                    }
                                    .product_price{
                                        font-weight:$weight-medium;
                                    }
                                }
                            }
                            .swiper-slide-active{
                            }
                            >.slide1{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-white;
                                            border: 1px solid $color-black;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-graychip1;
                                        }
                                    }
                                }
                            }
                            >.slide2{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-navy;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-red;
                                        }
                                    }
                                }
                            }
                            >.slide3{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-white;
                                            border: 1px solid $color-black;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-beige;
                                        }
                                    }
                                }
                            }
                            >.slide4{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-beige;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-red;
                                        }
                                        >.colorchip.color4{
                                            background-color: $color-blue;
                                        }
                                    }
                                }
                            }
                            >.slide5{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-brown;
                                        }
                                    }
                                }
                            }
                            >.slide6{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                    }
                                }
                            }
                        }
                    }
            }
        }
        /* best line 끝 */
        /* always_red */
        .clothes{
            background : #010101;
            width: 100%;
            height: 800px;
            position: relative;
            .clothes_title{
                position: absolute;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
                .alwaysRed{
                    font-family: 'Moderniz';
                    color: $color-white;
                    font-size: $fontsize-72px;
                    em{
                        font-family: 'Moderniz';
                        color: $color-red;
                    }
                    margin-bottom: 20px;
                }
                .clothes_h3{
                font-size: $fontsize-32px;
                font-weight: $weight-semibold;
                color: $color-white;
                margin-bottom: 20px;
                }
                .clothes_p{
                font-size: $fontsize-18px;
                font-weight: $weight-medium;
                color: $color-white;
                line-height: 1;
                }
            }
            .always_red_image{
                display: flex;
                flex-flow: row nowrap;
                position: absolute;
                right:80px;
                bottom: 0;
                a:nth-child(1){
                    >p{
                            position: absolute;
                            left: 0;
                            bottom: 100px;
                            font-size: $fontsize-22px;
                            font-weight: $weight-semibold;
                            left : 25%;
                            transform: translateX(-50%);
                            color:$color-white;
                        }
                    >.always_red_man{
                    background: url(../images/AlwaysRed/man.jpeg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 600px;
                    height: 646px;
                    position: relative;
                    }
                }
                a:nth-child(2){
                    >p{
                            position: absolute;
                            left: 0;
                            bottom: 100px;
                            font-size: $fontsize-22px;
                            font-weight: $weight-semibold;
                            color: $color-white;
                            left : 75%;
                            transform: translateX(-50%);
                        }
                    >.always_red_woman{
                    background: url(../images/AlwaysRed/woman.jpeg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 600px;
                    height: 646px;
                    position: relative;
                    }
                }
            }
        }
        /* alwaysred 끝 */
        /* new product */
        .new_product {
            margin : 80px 80px 160px;
            @include flex-col-nowrap;
            justify-content: center;
            align-items: flex-start;
            gap : 50px;
            >h2 {
                text-transform: uppercase;
                font-size: $fontsize-36px;
                font-weight: $weight-bold;
            }
            .new_contents{
                @include flex-row-nowrap;
                justify-content: center;
                align-items: flex-start;
                gap: 120px;
                .category{
                    @include flex-col-nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    gap:30px;
                    a{
                        .new_cate_name{
                            font-size:$fontsize-18px;
                            text-transform: uppercase;
                            font-weight: $weight-medium;
                            color: $color-8egray
                        }
                        .active{
                            color:$color-red;
                        }
                    }
                }
                .new_products_line{
                    .new_list{
                        @include flex-col-nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        overflow:hidden;
                        width:1619px;
                        .swiper-wrapper{
                            width: max-content;
                            .swiper-slide{
                                width:380px;
                                a{
                                    @include flex-col-nowrap;
                                    justify-content: center;
                                    align-items: flex-start;
                                    gap: 20px;
                                    img{
                                        width:100%;
                                    }
                                    .product_name{
                                        font-size: $fontsize-18px;
                                        font-weight:$weight-medium;
                                    }
                                    .colorchip_set{
                                        display: flex;
                                        flex-flow: row nowrap;
                                        gap: 10px;
                                        .colorchip{
                                            width:18px; height: 18px;
                                            border-radius: 9px;
                                            display:inline-block;
                                        }
                                    }
                                    .product_price{
                                        font-weight:$weight-medium;
                                    }
                                }
                            }
                            >.slide1{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-white;
                                            border: 1px solid $color-black;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-graychip1;
                                        }
                                    }
                                }
                            }
                            >.slide2{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-navy;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-red;
                                        }
                                    }
                                }
                            }
                            >.slide3{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-white;
                                            border: 1px solid $color-black;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-beige;
                                        }
                                    }
                                }
                            }
                            >.slide4{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-beige;
                                        }
                                        >.colorchip.color3{
                                            background-color: $color-red;
                                        }
                                        >.colorchip.color4{
                                            background-color: $color-blue;
                                        }
                                    }
                                }
                            }
                            >.slide5{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                        >.colorchip.color2{
                                            background-color: $color-brown;
                                        }
                                    }
                                }
                            }
                            >.slide6{
                                >a{
                                    >.colorchip_set{
                                        >.colorchip.color1{
                                            background-color: $color-black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* newproduct끝 */
        /* FW SEASON LOOK */
        #fw_season{
            padding: 0 80px;
            width: 100%;
            margin-bottom:230px;
            position: relative;
            z-index: 1;
             /* swiper pagination css */
            .fw-nav{
                position: absolute;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 999;
                width: max-content;
                >.swiper-pagination-bullet{
                    width: 100px;
                    height: 1px;
                    margin : 0;
                    border-radius: 0;
                    opacity: 0.3;
                    transition: opacity 0.2s;
                }
                >.swiper-pagination-bullet-active{
                    background-color: $color-red;
                    opacity: 1;
                    transition: opacity 0.2s;
                }
            }
            /* swiper prevNext css */
            .fw-btn{
                position: absolute;
                bottom: -78px;
                left: 50%;
                width: 380px;
                transform: translateX(-50%);
                .fw-prev{
                    width: 20px;
                    height: 20px;
                    svg{
                        g{
                            path{fill:$color-red}
                        }
                    }
                    transition : opacity 0.3s;
                }
                .fw-next{
                    width: 20px;
                    height: 20px;
                    svg{
                        g{
                            path{fill:$color-red}
                        }
                    }
                    transition : opacity 0.3s;
                }
                .swiper-button-disabled{
                    opacity: 0.3;
                    transition : opacity 0.3s;
                }
            }
            .fw_season_title{
                font-size: $fontsize-36px;
                font-weight: $weight-bold;
                text-align: center;
                margin-bottom: 70px;
            }
            .fw_season_list{/* swiper선언자리 */
                width: 100%;
                .fw_season_wrapper{
                    >.swiper-slide{
                        width: 100%;
                        @include flex-row-nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        .fw-product{
                            >a{
                                >img{
                                width: 400px;
                                height: 526px;
                                margin-bottom: 30px;
                                }
                                .fw_product_desc{
                                    @include flex-row-nowrap;
                                    gap: 10px;
                                    >img{
                                        width: 100px;
                                        height: 100px;
                                    }
                                    .fw_product_info{
                                        @include flex-col-nowrap;
                                        justify-content: space-between;
                                        align-items: flex-start;
                                        .fw_product_name{
                                            font-weight: $weight-semibold;
                                            font-size: $fontsize-18px;
                                        }
                                        .fw_discount_info{
                                            /* dis-per and price css 적용 후 navigation 기능 구현 */
                                            .dis-per{
                                                color: $color-red;
                                                font-weight: $weight-medium;
                                            }
                                            .dis-price{
                                                font-weight: $weight-medium;
                                            }
                                        }
                                        span{
                                            del{
                                                color: $color-8egray;
                                            }
                                        }
                                        .colorchip_set{
                                            @include flex-row-nowrap;
                                            gap:10px;
                                            >span{@include colorchip-shape;}
                                        }
                                    }
                                }
                            }
                        }
                        /* 1번슬라이드 1~4번 상품 */
                        /* 1 */
                        .fw1{
                            >a{
                                .fw_product_desc{
                                    .fw_product_info{
                                        .colorchip_set{
                                            .color1{
                                                background-color: $color-navy;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        /* 2 */
                        .fw2{
                            >a{
                                .fw_product_desc{
                                    .fw_product_info{
                                        .colorchip_set{
                                            .color1{
                                                background-color: $color-black;
                                                display: inline-block;
                                            }
                                            .color2{
                                                background-color: $color-8egray;
                                                display:inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        /* 3 */
                        .fw3{
                            >a{
                                .fw_product_desc{
                                    .fw_product_info{
                                        .colorchip_set{
                                            .color1{
                                                background-color: $color-8egray;
                                                display: inline-block;
                                            }
                                            .color2{
                                                background-color: $color-white;
                                                border: 1px solid $color-black;
                                                display:inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        /* 4 */
                        .fw4{
                            >a{
                                .fw_product_desc{
                                    .fw_product_info{
                                        .colorchip_set{
                                            .color1{
                                                background-color: $color-black;
                                                display: inline-block;
                                            }
                                            .color2{
                                                background-color: $color-white;
                                                border: 1px solid $color-black;
                                                display:inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* FW SEASON LOOK 끝 */
        /* what's on 시작*/
        #whats-on{
            margin: 0 0 160px 0;
            overflow: hidden;
            height: 815px;
            .wo-title{
                font-weight: $weight-bold;
                font-size : $fontsize-36px;
                text-align: center;
                margin-bottom: 100px;
                /* what's on title css 적용완료, contents 작성 실시 */
            }
            .wo-slide{
                width: 400px;
                overflow: visible;
                .wo-wrapper{
                    @include flex-row-nowrap;
                    >.swiper-slide{
                        transition: scale 0.3s;
                        width: 400px;
                        opacity: 0.3;
                        transform: translateX(24px);
                        >a{
                            >img{
                                width: 400px;
                                height:500px;
                                margin-bottom: 20px;
                                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
                            }
                            .title-text{
                                @include flex-col-nowrap;
                                justify-content: start;
                                align-items: center;
                                gap: 10px;
                                .smalltext{
                                    font-size: $fontsize-14px;
                                    font-weight: $weight-medium;
                                }
                                h3{
                                    font-size: $fontsize-26px;
                                    font-weight: $weight-bold;
                                }
                            }
                        }
                    }
                    .swiper-slide-active{
                        width: 400px;
                        z-index: 10; /* 가장 위에 보이도록 */
                        opacity: 1; /* 투명도 100% */
                        transition: scale 0.3s;
                        transform-origin:center;
                        scale: 1.2;
                        margin: 0 -50px;
                        transform: translateX(40px);
                    }
                }
            }
        }
    }
}