@charset "UTF-8";
@font-face {
  font-family: "Moderniz";
  src: url("../font/Moderniz.otf") format("opentype");
  font-style: normal;
}
/* color */
/* line height */
/* font size */
/* font weight */
#wrap header .notice_line {
  background-color: #FA0A00;
  padding: 10px 80px;
  text-align: center;
}
#wrap header .notice_line a {
  font-size: 0.875rem;
  color: #ffffff;
}
#wrap header .top {
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
#wrap header .top #logo {
  width: 90px;
  height: 50px;
}
#wrap header .top #logo a img {
  width: 100%;
  height: 100%;
}
#wrap header .top #gnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
#wrap header .top #gnb li {
  line-height: 80px;
}
#wrap header .top #gnb li a {
  font-weight: 500;
}
#wrap header .top #right_icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#wrap header .top #right_icons .search_bar {
  width: 250px;
  border-bottom: 1px solid #1C1B1F;
  display: flex;
}
#wrap header .top #right_icons .search_bar #search {
  width: 100%;
  font-size: 0.875rem;
}
#wrap header .top #right_icons a img {
  width: 24px;
  height: 24px;
}

#wrap #main_wrap {
  /* ===배너=== */
}
#wrap #main_wrap > .swiper {
  overflow: hidden;
}
#wrap #main_wrap > .swiper .swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#wrap #main_wrap > .swiper .swiper-wrapper .swiper-slide {
  width: 100vw;
  height: 680px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
#wrap #main_wrap > .swiper .swiper-wrapper .swiper-slide iframe {
  width: 100vw;
  height: 100%;
}
#wrap #main_wrap > .swiper .swiper-wrapper .swiper-slide .bnr_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  gap: 10px;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
#wrap #main_wrap > .swiper .swiper-wrapper .swiper-slide .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .swiper-slide .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide1 .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide1 .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide2 .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide2 .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide3 .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide3 .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide4 .bnr_text h1 {
  color: #1C1B1F;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide4 .bnr_text p {
  color: #1C1B1F;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide5 .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide5 .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide6 .bnr_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
}
#wrap #main_wrap > .swiper .swiper-wrapper .slide6 .bnr_text p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
}
#wrap #main_wrap {
  /* ===BEST=== */
}
#wrap #main_wrap .best_product {
  margin: 80px 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
#wrap #main_wrap .best_product h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
}
#wrap #main_wrap .best_product .best_contents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
}
#wrap #main_wrap .best_product .best_contents .category {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
#wrap #main_wrap .best_product .best_contents .category a .cate_name {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #8e8e8e;
}
#wrap #main_wrap .best_product .best_contents .category a .active {
  color: #FA0A00;
}
#wrap #main_wrap .best_product .best_contents .best_list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: calc(100vw - 304px);
  transform-origin: left;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper {
  gap: 50px;
  width: max-content;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide {
  width: 380px;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a .product_name {
  font-size: 1.125rem;
  font-weight: 500;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a .colorchip_set {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a .colorchip_set .colorchip {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper .swiper-slide a .product_price {
  font-weight: 500;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color2 {
  background-color: #ffffff;
  border: 1px solid #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color3 {
  background-color: #c2c4bb;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color2 {
  background-color: #283f9a;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color3 {
  background-color: #FA0A00;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color2 {
  background-color: #ffffff;
  border: 1px solid #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color3 {
  background-color: #f4f6db;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color2 {
  background-color: #f4f6db;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color3 {
  background-color: #FA0A00;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color4 {
  background-color: #0200fb;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide5 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide5 > a > .colorchip_set > .colorchip.color2 {
  background-color: #a62a2a;
}
#wrap #main_wrap .best_product .best_contents .best_list .swiper-wrapper > .slide6 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap {
  /* best line 끝 */
  /* always_red */
}
#wrap #main_wrap .clothes {
  background: #010101;
  width: 100%;
  height: 800px;
  position: relative;
}
#wrap #main_wrap .clothes .clothes_title {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}
#wrap #main_wrap .clothes .clothes_title .alwaysRed {
  font-family: "Moderniz";
  color: #ffffff;
  font-size: 4.5rem;
}
#wrap #main_wrap .clothes .clothes_title .alwaysRed em {
  font-family: "Moderniz";
  color: #FA0A00;
}
#wrap #main_wrap .clothes .clothes_title .alwaysRed {
  margin-bottom: 20px;
}
#wrap #main_wrap .clothes .clothes_title .clothes_h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
#wrap #main_wrap .clothes .clothes_title .clothes_p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
}
#wrap #main_wrap .clothes .always_red_image {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  right: 80px;
  bottom: 0;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(1) > .always_red_man {
  background: url(../images/AlwaysRed/man.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 646px;
  color: #ffffff;
  position: relative;
  transform-origin: bottom center;
  transition: scale 0.15s;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(1) > .always_red_man:hover {
  scale: 1.15;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(1) > .always_red_man > p {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  font-size: 1.375rem;
  font-weight: 600;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(2) > .always_red_woman {
  background: url(../images/AlwaysRed/woman.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 646px;
  color: #ffffff;
  position: relative;
  transform-origin: bottom center;
  transition: scale 0.15s;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(2) > .always_red_woman:hover {
  scale: 1.15;
}
#wrap #main_wrap .clothes .always_red_image a:nth-child(2) > .always_red_woman > p {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  font-size: 1.375rem;
  font-weight: 600;
}
#wrap #main_wrap {
  /* alwaysred 끝 */
  /* new product */
}
#wrap #main_wrap .new_product {
  margin: 80px 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
#wrap #main_wrap .new_product > h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
}
#wrap #main_wrap .new_product .new_contents {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
}
#wrap #main_wrap .new_product .new_contents .category {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
#wrap #main_wrap .new_product .new_contents .category a .cate_name {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #8e8e8e;
}
#wrap #main_wrap .new_product .new_contents .category a .active {
  color: #FA0A00;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: 1619px;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper {
  gap: 50px;
  width: max-content;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide {
  width: 380px;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a .product_name {
  font-size: 1.125rem;
  font-weight: 500;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a .colorchip_set {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a .colorchip_set .colorchip {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper .swiper-slide a .product_price {
  font-weight: 500;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color2 {
  background-color: #ffffff;
  border: 1px solid #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide1 > a > .colorchip_set > .colorchip.color3 {
  background-color: #c2c4bb;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color2 {
  background-color: #283f9a;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide2 > a > .colorchip_set > .colorchip.color3 {
  background-color: #FA0A00;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color2 {
  background-color: #ffffff;
  border: 1px solid #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide3 > a > .colorchip_set > .colorchip.color3 {
  background-color: #f4f6db;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color2 {
  background-color: #f4f6db;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color3 {
  background-color: #FA0A00;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide4 > a > .colorchip_set > .colorchip.color4 {
  background-color: #0200fb;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide5 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide5 > a > .colorchip_set > .colorchip.color2 {
  background-color: #a62a2a;
}
#wrap #main_wrap .new_product .new_contents .new_products_line .new_list .swiper-wrapper > .slide6 > a > .colorchip_set > .colorchip.color1 {
  background-color: #1C1B1F;
}
#wrap #main_wrap {
  /* newproduct끝 */
  /* FW SEASON LOOK */
}
#wrap #main_wrap #fw_season .fw_season_list .fw_season_wrapper .swiper-slide { /* 슬라이드 공통 CSS */ }
#wrap #main_wrap #fw_season .fw_season_list .fw_season_wrapper .swiper-slide > a > img {
  width: 400px;
  height: 526px;
}
#wrap #main_wrap #fw_season .fw_season_list .fw_season_wrapper { /* 슬라이드1번 고유 css ex)colorchip set */ }

#wrap footer {
  padding: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}
#wrap footer .left .inquiry {
  margin-bottom: 14px;
}
#wrap footer .left .inquiry p {
  font-size: 1.125rem;
  font-weight: 500;
}
#wrap footer .left .inquiry em {
  font-weight: 700;
  color: #FA0A00;
  margin-left: 5px;
}
#wrap footer .left .time {
  margin-bottom: 40px;
}
#wrap footer .left .time p {
  color: #8e8e8e;
  font-weight: 500;
  font-size: 0.875rem;
}
#wrap footer .left .company_info {
  margin-bottom: 40px;
}
#wrap footer .left .company_info p {
  font-size: 0.75rem;
  font-weight: 500;
}
#wrap footer .left .insurance {
  margin-bottom: 18px;
}
#wrap footer .left .insurance em {
  font-size: 0.75rem;
  font-weight: 600;
}
#wrap footer .left .insurance {
  font-weight: 500;
  font-size: 0.75rem;
}
#wrap footer .left .copyright {
  font-size: 0.75rem;
  font-weight: 600;
}
#wrap footer .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
#wrap footer .right dt {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#wrap footer .right dd {
  font-size: 0.875rem;
  margin-bottom: 20px;
}
#wrap footer .right dd:last-child {
  margin-bottom: 0px;
}

/*# sourceMappingURL=main.css.map */
